header{
    background-image: url(img/img_header2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

div{
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin: auto;
    color: aliceblue;
}

div h1{
    font-size: 48px;
    font-weight: bold;
    margin: 10% 0px 30px 0px;
}

ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px 0px 100px 0px;
}

div p{
    font-size: 18px;
    width: 60%;
}

hr{
    width: 60%;
    
}