/*----- HEADER -----*/
header{
    background-image: url(img/img_header2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.contenedor_header{
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin: auto;
    color: aliceblue;
}

.contenedor_header h1{
    font-size: 48px;
    font-weight: bold;
    margin: 10% 0px 30px 0px;
}

ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px 0px 100px 0px;
}

.contenedor_header p{
    font-size: 18px;
    width: 60%;
}

hr{
    width: 60%;
    
}
/*----- SECTION 1 -----*/
section .section_1{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 300px;
    margin: auto;
    position:relative;
    top: -200px;
    border: 1px solid rgb(195, 189, 189);
    color: aliceblue;
    background-color: rgb(141, 127, 127);
}
section .section_1 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
section .section_1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
    width: 50%;
    height: 100%;
    font-size: 20px;
}
/*----- SECTION 2 -----*/
.section_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
    position: relative;
    bottom:  150px;
    color: rgb(79, 78, 76);

}
.section_2 h2{
    font-size: 45px;
    margin: 20px 0px;
}
.cont_sec_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    width: 80%;
    height: 400px;;
}

.cont_sec_2 div img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: 0.5px solid rgb(195, 189, 189);
}
.cont_sec_2 div h4{
    width: 100%;
    height: 10%;
    color: rgb(90, 90, 84);
    font-size: 20px;
}
.cont_sec_2 div p{
    font-size: 16px;
    padding: 10px;
}
/*----- SECTION 3 -----*/
.section_3{
    background-image: url(img/img_sect_3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
    position: relative;
    bottom:  150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}   
.section_3 h3{
    font-size: 40px;
}
.cont_sec_3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    height: 500px;
}
.con {
    width: 30%;
    height: 50%;
    object-fit: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont_sec_3 .con div{
    border: 5px solid rgb(255, 255, 255);
    border-radius:100%;
    width: 30%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_sec_3 .con div:hover{
    border: 5px solid rgb(255, 215, 0);
    transition: 0.5s;
}
.cont_sec_3 .con div img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.cont_sec_3 .con h4{
    color: rgb(237, 233, 13);
    font-size: 16px;
}
